// Write your overrides
@forward "@core/scss/base/variables";


.layout-wrapper.layout-nav-type-horizontal .layout-navbar-and-nav-container {
  box-shadow: none !important;
}
.layout-wrapper.layout-nav-type-horizontal .layout-navbar-and-nav-container {
  box-shadow: none !important;
}


@mixin theme-select-header {
  .v-theme--light & {
    color: rgb(var(--v-theme-primary)) !important;
  }
  .v-theme--dark & {
    color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity)) !important;
  }
}
@mixin theme-select-header-items {
  .v-theme--light & {
    background-color: rgb(var(--v-theme-rubi-red)) !important;
  }
  .v-theme--dark & {
    background-color: rgb(var(--v-theme-rubi-red)) !important;
  }
}

.app-select-header .v-field__append-inner svg {
  @include theme-select-header;
}

.app-select-header .v-field__append-inner svg {
  @include theme-select-header;
}

.app-select-header .v-select__selection-text {
  @include theme-select-header;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.43px;
  flex: none;
  order: 0;
  flex-grow: 0;
}


.app-select-header .v-field--variant-outlined { 
  @include theme-select-header;
}
.app-select-header  .v-list .v-list-item--active { 
  @include theme-select-header-items;
}

.app-header-words-remaining {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
 
  flex: none;
  order: 0;
  flex-grow: 0;

  .v-theme--light & {
    color: #000000;
  }
}

.text-p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(var(--v-theme-text-color-body));
}

.text-p-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: rgb(var(--v-theme-text-color-body));
}

.text-p-lighter {
  font-size: 15px;
  line-height: 22px; 
  font-weight: 300;
  color: rgb(var(--v-theme-text-color-body));
}

.text-p-small {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgb(var(--v-theme-text-color-body));
}

.text-p-small-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: rgb(var(--v-theme-text-color-body));
}

.text-p-small-light {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgb(var(--v-theme-text-color-body));
}

.text-p-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: rgb(var(--v-theme-text-color-body));
  
}
.text-p-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: rgb(var(--v-theme-text-color-body));
  
}


.body-background {
  background-color: rgb(var(--v-theme-background-body));
}

.card-background {
  background-color: rgb(var(--v-theme-background-card));
}

.text-display-4 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 46px;
  color: rgb(var(--v-theme-text-color-heading));
}



.vsp {
  background-color: rgb(var(--v-theme-background-card)) !important;
}

.vsp__body {
  padding: 10px 10px;
  overflow-x: hidden;
}


.vsp__header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
}


div.v-select-list div[role=list] div[role=listitem]:hover {
  background-color:#00857A !important;
}


.svg-strock-1 {
  & .icon-g {
    stroke-width: 0.5px;
  }
}


.custom-text-div {
  .v-expansion-panel-text__wrapper {
    padding: 0px 0px;
  }
}

.module-expansion-panel-title {
  .v-expansion-panel-title__icon > svg{
    display: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}


.v-tooltip > .v-overlay__content {
  color: rgba(var(--v-theme-on-surface),var(--v-medium-emphasis-opacity)) !important;
}


.xtract-input {
  position: relative;
  
  .btn-append-xtract {
    position: absolute;
    background-color: #4b4b4b;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--v-theme-rubi-red));
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
    right: -71px;
    top: 0;

    .v-theme--dark & {
      background-color: #d7d8de;
    }
  }
}


.editor {

  .ql-editor {
    background-color: rgb(var(--v-theme-background-card));
  }
}


.editor-h-300 {
  .ql-container {
    height: 300px !important;
  }
}

.editor-h-650 {
  .ql-container {
    height: 650px !important;
  }
}


.placeholder-white {
  input::placeholder {
    color: white !important;
  }
}

.avatar-img-p-40 {
  img {
    padding: 40px;
  }
}


.ql-editor.ql-blank::before {
  color: rgb(var(--v-theme-on-surface)) !important;
}

.ql-formats {

  svg {
    fill:red !important;
  }
}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: rgb(var(--v-theme-extra-dark)) !important;
}

.ql-toolbar .ql-fill {
  stroke: rgb(var(--v-theme-extra-dark)) !important;
  fill: none;
}

.ql-toolbar .ql-picker {
  stroke: rgb(var(--v-theme-extra-dark)) !important;
  fill: none;
}
.ql-toolbar .ql-picker-label {
  color: rgb(var(--v-theme-extra-dark)) !important;
}


.text-input-medium {
  input {
    color: rgb(var(--v-theme-text-color-heading));
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
  }
}


.content-tooltip-shadow {
  box-shadow: 0px 0px 20px 0px rgba(75, 70, 92, 0.40);
}

.balance-tooltip-content {
  background-color: rgb(var(--v-theme-gray-900)) !important;


  span {
    color: white !important;
  }
}
