// Write your overrides
@forward "@core/scss/base/variables";


.layout-wrapper.layout-nav-type-horizontal .layout-navbar-and-nav-container {
  box-shadow: none !important;
}
.layout-wrapper.layout-nav-type-horizontal .layout-navbar-and-nav-container {
  box-shadow: none !important;
}


@mixin theme-select-header {
  .v-theme--light & {
    color: rgb(var(--v-theme-rubi-red)) !important;
  }
  .v-theme--dark & {
    color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity)) !important;
  }
}
@mixin theme-select-header-items {
  .v-theme--light & {
    background-color: rgb(var(--v-theme-rubi-red)) !important;
  }
  .v-theme--dark & {
    background-color: rgb(var(--v-theme-rubi-red)) !important;
  }
}

.app-select-header .v-field__append-inner svg {
  @include theme-select-header;
}

.app-select-header .v-field__append-inner svg {
  @include theme-select-header;
}

.app-select-header .v-select__selection-text {
  @include theme-select-header;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.43px;
  flex: none;
  order: 0;
  flex-grow: 0;
}


.app-select-header .v-field--variant-outlined { 
  @include theme-select-header;
}
.app-select-header  .v-list .v-list-item--active { 
  @include theme-select-header-items;
}

.app-header-words-remaining {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
 
  flex: none;
  order: 0;
  flex-grow: 0;

  .v-theme--light & {
    color: #000000;
  }
}

.text-p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(var(--v-theme-text-color-body));
}

.text-p-lighter {
  font-size: 15px;
  line-height: 22px; 
  color: rgb(var(--v-theme-text-color-body));
}

.text-p-small {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgb(var(--v-theme-text-color-body));
}

.text-p-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: rgb(var(--v-theme-text-color-body));
  
}
.text-p-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: rgb(var(--v-theme-text-color-body));
  
}


.body-background {
  background-color: rgb(var(--v-theme-background-body));
}

.card-background {
  background-color: rgb(var(--v-theme-background-card));
}

.text-display-4 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 46px;
  color: rgb(var(--v-theme-text-color-heading));
}



.vsp {
  background-color: rgb(var(--v-theme-background-card)) !important;
}

.vsp__body {
  padding: 10px 10px;
  overflow-x: hidden;
}


.vsp__header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
}


div.v-select-list div[role=list] div[role=listitem]:hover {
  background-color:#00857A !important;
}


.svg-strock-1 {
  & .icon-g {
    stroke-width: 0.5px;
  }
}


.custom-text-div {
  .v-expansion-panel-text__wrapper {
    padding: 0px 0px;
  }
}

.module-expansion-panel-title {
  .v-expansion-panel-title__icon > svg{
    display: none !important;
  }
}





